/* IELS Instagram Read More */
a[data-iels="ig-readmore"] {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  margin-top: 16px;
  font-size: 14px;
  font-weight: 600;
  color: #2F4157;
  text-decoration: none;
}

a[data-iels="ig-readmore"]:hover {
  text-decoration: underline;
  opacity: 0.85;

}
.region path {
  fill: #d1dbdd;
  transition: all 0.3s ease;
  cursor: pointer;
}

.region:hover path {
  fill: #9fb4c7;
}

.region.active path {
  fill: #e56668;
}